.group-child,
.group-item {
  position: absolute;
  top: 40px;
  left: 125px;
  background-color: var(--color-gray-100);
  width: 465px;
  height: 100px;
}
.group-item {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 180px;
  height: 180px;
}
.group-inner,
.rectangle-parent {
  position: absolute;
  top: 616px;
  left: 1007px;
  width: 590px;
  height: 180px;
}
.group-inner {
  top: 40px;
  left: 106px;
  background-color: var(--color-gray-100);
  width: 465px;
  height: 100px;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 401px;
  left: 869px;
  width: 571px;
  height: 180px;
}
.rectangle-container {
  top: 206px;
  left: 1036px;
}
.cwok-casual-56-1-icon {
  position: absolute;
  top: 185px;
  left: 962px;
  width: 360px;
  height: 654px;
  object-fit: cover;
}
.m024t0237-j-finance-21sep22-1-icon {
  position: absolute;
  top: 394px;
  left: 916px;
  width: 242px;
  height: 327px;
  object-fit: cover;
}
.home {
  position: relative;
  font-weight: 500;
}
.navbar {
  position: absolute;
  top: 42px;
  left: 437px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
  gap: 74px;
}
.tr {
  color: var(--color-blue);
}
.splittr {
  position: relative;
  font-weight: 800;
}
.logo {
  position: absolute;
  top: 32px;
  left: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 0;
  font-size: 30px;
}
.split-it {
  position: relative;
  font-weight: 600;
}
.split-it-wrapper {
  position: absolute;
  top: 590px;
  left: 308px;
  border-radius: 50px;
  background-color: var(--color-white);
  box-shadow: 0 12px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 59.5px;
  font-size: 27px;
}
.begin-your-splitting-container {
  position: absolute;
  top: 258px;
  left: 120px;
  font-size: 50px;
  font-weight: 800;
  display: inline-block;
  width: 588px;
  color: var(--color-mediumblue);
}
.add-friend-child {
  position: absolute;
  top: 38px;
  left: 1249px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.alert-undefined-glyph-und,
.person-add-undefined-glyph,
.person-undefined-glyph-un {
  position: absolute;
  top: 45px;
  left: 1155px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.person-add-undefined-glyph,
.person-undefined-glyph-un {
  left: 1055px;
}
.person-undefined-glyph-un {
  top: 917px;
  left: 887px;
  width: 24px;
  height: 24px;
}
.add-friend-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(25px);
  width: 1440px;
  height: 1024px;
}
.add-friend-inner {
  position: absolute;
  top: 342px;
  left: 222px;
  border-radius: 25px;
  background-color: var(--color-white);
  width: 996px;
  height: 340px;
}
.dismiss-undefined-glyph-u {
  position: absolute;
  top: 358px;
  left: 1137px;
  width: 65px;
  height: 65px;
  overflow: hidden;
  cursor: pointer;
}
.enter-id {
  position: absolute;
  top: 384px;
  left: 307px;
  font-size: 32px;
  font-weight: 800;
}
.frame-child {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 455px;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.div {
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 32px;
  font-weight: 500;
  z-index: 1;
}
.enter-id-wrapper,
.frame-parent {
  position: absolute;
  top: 455px;
  display: flex;
}
.frame-parent {
  left: 323px;
  width: 455px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.enter-id-wrapper {
  left: 871px;
  background-color: var(--color-steelblue);
  width: 184px;
  height: 54px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 17px;
  box-sizing: border-box;
  color: var(--color-white);
}
.add-friend {
  position: relative;
  background-color: #f0f0f0;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-base: 16px;
  
    /* Colors */
    --color-steelblue: #254f7f;
    --color-white: #fff;
    --color-black: #000;
    --color-gray-100: #132740;
    --color-blue: #0029ff;
    --color-mediumblue: #2b4dff;
  
    /* Paddings */
    --padding-base: 16px;
  }
  